
<div class="container">
  <h1 class="text-center">{{title}}</h1>

  <form #form = "ngForm" (ngSubmit) = "onSubmit(form.value.input)" >
    <div class="form-group">
       <label for="input">Enter a value</label>
       <input type = "text"id="input" name = "input" placeholder = "Text here" class="form-control" ngModel>
<input type = "submit" value = "submit" class="btn btn-primary">
    </div>

  </form>


<div class="row">
  <div class="col-sm">
  <app-numbers></app-numbers>
  </div>
  <div class="col-sm">
    <app-characters></app-characters>

  </div>
  <div class="col-sm">
    <app-texts></app-texts>

  </div>
</div>


</div>
